* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e8e8e8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid #dcdcdc;
  background-color: #e0e0e0;
  box-shadow: 7px 7px 23px #bebebe, -7px -7px 23px #fff;
  /* remova o overflow para ver melhor a animação */
  overflow: hidden;
  border-radius: 60px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-family: sans-serif;
}

.slider--0 {
  color: white;
  font-weight: 600;
  background-color: #49d84e;
}

.slider--1 div {
  /* duração da transição */
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
}

/* Efeito portão abrindo starts */
input:checked ~ .slider--1 div:first-child {
  transform: translateY(-100%);
  /* Depois do input check demora 1s para começar a transição */
  transition-delay: 1s;
}

input:checked ~ .slider--1 div:last-child {
  transform: translateY(100%);
  /* Depois do input check demora 1s para começar a transição */
  transition-delay: 1s;
}
/* Efeito portão abrindo ends */

/* Efeito portão fechando starts */
.slider--1 div:first-child {
  transform: translateY(0);
  top: 0;
  background-color: #f3f3f3;
  transition-delay: 0s;
}

.slider--1 div:last-child {
  transform: translateY(0);
  bottom: 0;
  background-color: #f3f3f3;
  transition-delay: 0s;
  border: 1px solid #e0e0e0;
}
/* Efeito portão fechando ends */

input:checked ~ .slider--2 {
  /* vai para direita depois de 0.5s*/
  transform: translateX(100%);
  transition-delay: 0.5s;
}

input:checked ~ .slider--3 {
  /* vai para esquerda imediatamente*/
  transform: translateX(-100%);
  transition-delay: 0s;
}

.slider--2 {
  background-color: #e6e6e6;
  transition-delay: 0.5s;
  /* volta para o lugar inicial depois de 0.5s */
  transform: translateX(0);
}

.slider--3 {
  background-color: #d2d2d2;
  transition-delay: 1s;
  /* volta para o lugar inicial depois de 1s */
  transform: translateX(0);
}
